In [54]:
import pandas as pd
import numpy as np
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
# from sklearn.cluster import KMeans 
# from sklearn.manifold import TSNE
# import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('Bollywood_songs.csv', encoding='ISO-8859-1')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\djtap\AppData\Local\Temp\ipykernel_32184\1883423487.py:1: SyntaxWarning: invalid escape sequence '\D'
  df=pd.read_csv('D:\DS&ML\DataSets\Bollywood_songs.csv', encoding='ISO-8859-1')

In [56]:
df=df.dropna()

In [57]:
df.isnull().sum()

id             0
Song-Name      0
Artists        0
Genre          0
Album/Movie    0
User-Rating    0
dtype: int64

In [58]:
df.head()

,id,Song-Name,Artists,Genre,Album/Movie,User-Rating
0,1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",Dance,Simmba,8.8
1,2,Coca Cola,"Neha Kakkar, Tony Kakkar",DanceRomantic,Luka Chuppi,9.0
2,3,Apna Time Aayega,Ranveer Singh,Dance,Gully Boy,9.7
3,4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",Dance,Total Dhamaal,9.1
4,5,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",Romantic,Simmba,9.2

In [59]:
df['Artists'] = df['Artists'].str.replace(" ", "", regex=False)
df['Artists']

0                  KumarSanu,MikaSingh,NehaKakkar
1                           NehaKakkar,TonyKakkar
2                                    RanveerSingh
3               JyoticaTangri,Shaan,SubhroGanguly
4       AseesKaur,RahatFatehAliKhan,TanishkBagchi
                          ...
2415                                       Mukesh
2416                               LataMangeshkar
2417                  LataMangeshkar,SureshWadkar
2418                                   JagjitKaur
2419                                   AshaBhosle
Name: Artists, Length: 2407, dtype: object

In [60]:
df

,id,Song-Name,Artists,Genre,Album/Movie,User-Rating
0,1,Aankh Marey,"KumarSanu,MikaSingh,NehaKakkar",Dance,Simmba,8.8
1,2,Coca Cola,"NehaKakkar,TonyKakkar",DanceRomantic,Luka Chuppi,9.0
2,3,Apna Time Aayega,RanveerSingh,Dance,Gully Boy,9.7
3,4,Mungda,"JyoticaTangri,Shaan,SubhroGanguly",Dance,Total Dhamaal,9.1
4,5,Tere Bin,"AseesKaur,RahatFatehAliKhan,TanishkBagchi",Romantic,Simmba,9.2
...,...,...,...,...,...,...
2415,2416,Jana Tumhare Pyar Mein,Mukesh,Dance,Sasural,7.8
2416,2417,Tum Jaise Bigde Babu Se,LataMangeshkar,Dance,Jab Pyar Kisi Se Hota Hai,8.5
2417,2418,O Yaad Nahi Bhool Gaya,"LataMangeshkar,SureshWadkar",Dance,Lamhe,8.7
2418,2419,Ladi Re Ladi Tujhse Aankh Jo Ladi,JagjitKaur,Dance,Shola Aur Shabnam,7.9
2419,2420,Mummy Aur Daddy Mein Ladai Ho Gayi,AshaBhosle,Dance,Shola Aur Shabnam,6.6

In [61]:
df['Album/Movie'] = df['Album/Movie'].str.replace(" ", "", regex=False)
df['Album/Movie']

0                     Simmba
1                 LukaChuppi
2                   GullyBoy
3               TotalDhamaal
4                     Simmba
                ...
2415                 Sasural
2416    JabPyarKisiSeHotaHai
2417                   Lamhe
2418         SholaAurShabnam
2419         SholaAurShabnam
Name: Album/Movie, Length: 2407, dtype: object

In [62]:
df['Genre'] = df['Genre'].str.replace(" ", "", regex=False)
df['Genre']

0               Dance
1       DanceRomantic
2               Dance
3               Dance
4            Romantic
            ...
2415            Dance
2416            Dance
2417            Dance
2418            Dance
2419            Dance
Name: Genre, Length: 2407, dtype: object

In [63]:
df['User-Rating']=df['User-Rating']/10

In [64]:
df['Genre'] = df['Genre'].str.lower()
df['Artists'] = df['Artists'].str.lower()
df['Album/Movie'] = df['Album/Movie'].str.lower()

In [65]:
df['tag'] = df['Genre'].astype(str) + ' ' + df['Artists'].astype(str) + ' ' + df['Album/Movie'].astype(str) + ' ' + df['User-Rating'].astype(str)

In [66]:
df = df.drop(['Genre', 'Artists', 'Album/Movie', 'User-Rating'], axis=1)

In [67]:
df

,id,Song-Name,tag
0,1,Aankh Marey,"dance kumarsanu,mikasingh,nehakakkar simmba 0...."
1,2,Coca Cola,"danceromantic nehakakkar,tonykakkar lukachuppi..."
2,3,Apna Time Aayega,dance ranveersingh gullyboy 0.97
3,4,Mungda,"dance jyoticatangri,shaan,subhroganguly totald..."
4,5,Tere Bin,"romantic aseeskaur,rahatfatehalikhan,tanishkba..."
...,...,...,...
2415,2416,Jana Tumhare Pyar Mein,dance mukesh sasural 0.78
2416,2417,Tum Jaise Bigde Babu Se,dance latamangeshkar jabpyarkisisehotahai 0.85
2417,2418,O Yaad Nahi Bhool Gaya,"dance latamangeshkar,sureshwadkar lamhe 0.8699..."
2418,2419,Ladi Re Ladi Tujhse Aankh Jo Ladi,dance jagjitkaur sholaaurshabnam 0.79
2419,2420,Mummy Aur Daddy Mein Ladai Ho Gayi,dance ashabhosle sholaaurshabnam 0.65999999999...

In [68]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [69]:
vector = cv.fit_transform(df['tag']).toarray()

In [70]:
vector.shape

(2407, 1727)

In [71]:
# Convert tags to TF-IDF features
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['tag'])

In [72]:
# one apporch via function....

# Apply K-Nearest Neighbors
knn = NearestNeighbors(n_neighbors=6, metric='cosine')  # 6 neighbors: input song + 5 recommendations
knn.fit(X)

# Function to recommend songs based on input song
def recommend(song):
    song_index = df[df['Song-Name'] == song].index[0]
    song_features = X[song_index]
    
    # Find nearest neighbors
    distances, indices = knn.kneighbors(song_features, n_neighbors=6)
    
    # Limit to top 5 recommendations (excluding the input song itself)
    recommendations = [df.iloc[i]['Song-Name'] for i in indices.flatten() if i != song_index][:5]
    
    return recommendations
    for rec in recommendations:
        print(rec)

In [73]:
recommend('Badi Dheere Jali')

['Hai Junoon',
 'Aisa Kyoon Hota Hai',
 'Le Gayi',
 'Gori Zara Hans De Tu Hans De',
 'O Panchhi Pyare Sanjh Sakare']

In [74]:
# from sklearn.metrics.pairwise import cosine_similarity

In [75]:
# similarity = cosine_similarity(vector)

In [76]:
# similarity

In [77]:
# kmeans = KMeans(n_clusters=5, random_state=42)
# kmeans.fit(X)

# # Define the recommendation function
# def recommend2(song):
#     song_index = df[df['Song-Name'] == song].index[0]
#     song_features = X[song_index]

#     # Find the cluster of the input song
#     song_cluster = kmeans.predict([song_features])[0]
    
#     # Find all songs in the same cluster
#     cluster_indices = np.where(kmeans.labels_ == song_cluster)[0]
    
#     # Exclude the input song itself from recommendations
#     cluster_indices = cluster_indices[cluster_indices != song_index]
    
#     # Recommend up to 5 other songs in the same cluster
#     recommendations = [df.iloc[i]['Song-Name'] for i in cluster_indices][:5]
    
#     for rec in recommendations:
#         print(rec)
    
#     return song_index, cluster_indices

# # Define the visualization function
# def visualize_recommendation(song_index, indices, df, X):
#     """Visualizes the input song and its recommendations in a scatter plot."""

#     tsne = TSNE(n_components=2, random_state=42)
#     X_embedded = tsne.fit_transform(X.toarray())  # Convert sparse matrix to dense for t-SNE

#     plt.figure(figsize=(8, 6))
#     plt.scatter(X_embedded[:, 0], X_embedded[:, 1], color='lightgray', label='Other Songs')  # All songs

#     # Highlight the input song
#     plt.scatter(X_embedded[song_index, 0], X_embedded[song_index, 1], color='red', marker='*', s=200, label=f'Input Song: {df["Song-Name"].iloc[song_index]}')

#     # Highlight the recommended songs
#     recommendation_indices = indices[:5]  # Ensure only top 5 are highlighted
#     plt.scatter(X_embedded[recommendation_indices, 0], X_embedded[recommendation_indices, 1], color='green', marker='o', s=100, label='Recommended Songs')

#     # Add labels for recommended songs
#     for i in recommendation_indices:
#         plt.text(X_embedded[i, 0], X_embedded[i, 1], df["Song-Name"].iloc[i], fontsize=9, ha='right')  # Add song names as labels

#     plt.xlabel("Feature 1")
#     plt.ylabel("Feature 2")
#     plt.title("Song Recommendation Visualization")
#     plt.legend()
#     plt.grid(True)  # Optional grid
#     plt.show()

# # Example usage
# song_index, cluster_indices = recommend2('Aankh Marey')
# visualize_recommendation(song_index, cluster_indices, df, X)

In [78]:
# recommend2('Tere Bin')

In [79]:
import pickle
pickle.dump(df,open('Song_list.pkl','wb'))

In [80]:
pickle.dump(X,open('feature_matrix.pkl','wb'))